<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header__wrap">
          <div class="logo"><img src="./images/logo.png" alt="" /></div>
          <form action="">
            <button><img src="./images/search.png" alt="" /></button>
            <input type="text" placeholder="Поиск" />
          </form>
          <button>+380 630 130 103</button>
          <div class="user"><img src="./images/user.png" alt="" /></div>
          <div class="language">
            <button>RU</button><span>/</span><button>EN</button>
          </div>
        </div>
      </div>
    </header>

    <main>
      <section id="nav">
        <div class="container">
          <div class="nav__wrap">
            <ul>
              <li><a href="">Наборы</a></li>
              <li><a href="">Все товары</a></li>
              <li><a href="">Пошив</a></li>
              <li><a href="">Производство</a></li>
              <li><a href="">Информация</a></li>
            </ul>

            <div>
              <h6>Шопперы со скидкой - 25%</h6>
              <img src="" alt="" />
            </div>
          </div>
        </div>
      </section>

      <section id="corporative-life">
        <div class="container">
          <div class="corporative-life__wrap">
            <div>
              <h1></h1>
              <p></p>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <img src="" alt="">
          </div>
        </div>
      </section>

      <section id="popular">
        <div class="container">
          <div class="popular__wrap">
            <div>
              <div class="section-title__wrap">
                            <h5>Самое популярное</h5>
            <p>Товары, которые наиболее часто заказывают наши клиенты</p>
            <button><span></span><img src="" alt=""></button>
              </div>
            </div>
            <div class="popular-carousel__wrap">
              <div class="popular-carousel__item"><img src="" alt=""></div>
              <div class="popular-carousel__item"><img src="" alt=""></div>
              <div class="popular-carousel__item"><img src="" alt=""></div>
              <div class="popular-carousel__item"><img src="" alt=""></div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="container">
        <div class="footer__wrap">

        </div>
      </div>
    </footer>

    <script src="./script.js"></script>
  </body>
</html>
