*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1600px;
    margin: 0 auto;
}

header{
    padding: 0;
position: absolute;
top:0;
left:0;
right:0;
}

#{
padding:0;
background-image:url("");
}